@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@theme {
    --color-primary: #5CAAFF;
    --color-secondary: #B0D6FF;
    --color-primaryBackground-light: #142023;
    --color-primaryText-light: #142023;
}