---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
        <p>ahora con astro :)</p>
        <p>y veremos si usamos tailwind</p>

        <a href="" class="text_color_dark text_size_big text_weight_bold decoration-n">Ir a densora</a>
        <a href="/proyectos" class="text_color_dark text_size_big text_weight_bold decoration-n">Ir a portafolio</a>
</Layout>
