---

import Layout from "../layouts/Layout.astro";---

<Layout>
    <section>
        <div class="service_section">
            <div class="service_info">
                <p class="text_weight_bold text_size_big">Desarrollo De Escritorio</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                <img src="/dist/img/Windows-11.svg" width="50px">
                <img src="/dist/img/apple.svg" width="50px">
            </div>
            <div class="service_image">
                <img src="/dist/img/desktop_services.svg" width="500px">
            </div>
        </div>

        <div class="service_section">
            <div class="service_image">
                <img src="/dist/img/web_services.svg" width="500px">
            </div>
            <div class="service_info">
                <p class="text_weight_bold text_size_big">Desarrollo Web</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                <img src="/dist/img/gchorme.svg" width="50px">
                <img src="/dist/img/safari.svg" width="50px">
            </div>
        </div>

        <div class="service_section">
            <div class="service_info">
                <p class="text_weight_bold text_size_big">Desarrollo Movil</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                <img src="/dist/img/android.svg" width="50px">
            </div>
            <div class="service_image">
                <img src="/dist/img/mobile_servicess.svg" width="500px">
            </div>
        </div>
    </section>

    Features
    <section>
        <div>
            <p>Programacion</p>
        </div>
        <div>
            <p>Diseño</p>
        </div>
        <div>
            <p>Velocidad</p>
        </div>
        <div>
            <p>Marketing</p>
        </div>
        <div>
            <p>Estrategias</p>
        </div>
    </section>
</Layout>

    <style>
        .service_section    {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .service_image  {

        }
        .service_info   {
            max-width: 60%;
        }
    </style>