---
import { ViewTransitions } from "astro:transitions"

const currentYear = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Tekkure</title>

		<link rel="shortcut icon" href="/dist/img/tekkure_logo.svg" type="image/x-icon">
		<link rel="stylesheet" href="/global/global.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<ViewTransitions/>
	</head>

	<div class="content-wrapper">
		<header>
			<div class="navbar">
				<div class="nav_left">
					<a href="proyec" class="text_color_dark text_size_big text_weight_bold decoration-n">Proyectos</a>
					<a href="/navbar/nosotros/nosotros.html" class="text_color_dark text_size_big text_weight_bold">Nosotros</a>
				</div>
				<div class="logo_navbar">
					<a href="/index">
						<img src="/dist/img/tekkure_logo.svg" width="50px" alt="Imagen">
					</a>
				</div>
				<div class="nav_right">
					<a href="/navbar/servicios/servicios.html" class="text_color_dark text_size_big text_weight_bold">Servicios</a>
					<a href="/navbar/contacto/contacto.html" class="text_color_dark text_size_big text_weight_bold">Contacto</a>
				</div>
			</div>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<p class="text_weight_bold text_color_dark text_size_medium">
				Tekkure &copy; <span>{currentYear}</span>
			</p>
		</footer>
	</div>

</html>
<style>
	/* Ajustes generales */
	html, body {
		font-family: "Poppins", serif;
		background-color: #f4f4f4;
		color: #333;
		height: 100%;
		margin: 0;
	}

	body {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
a{
	text-decoration: none;
}
	.content-wrapper {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	/* Contenedor de contenido principal */
	main {
		flex-grow: 1; /* Esto asegura que el main ocupe el espacio restante */
		padding: 1.5rem;
		overflow: auto;
	}

	/* Pie de página */
	footer {
		background-color: #f4f4f4;
		text-align: center;
		padding-bottom: 1.875rem;
		height: 1.25rem;
		position: relative;
	}

	/* Barra de navegación */
	.navbar {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.625rem 2.5vw;
		height: 4.06rem;
		position: relative;
		max-width: 25vw;
		width: 80%;
		margin: auto;
	}

	.logo_navbar {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.nav_left, .nav_right {
		display: flex;
		align-items: center;
		position: absolute;
		justify-content: space-between;
		gap: 1.875rem;
	}

	.nav_left {
		right: 60%;
	}

	.nav_right {
		left: 60%;
	}

	/* Estilos para texto */
	.text_size_big {
		font-size: 1.125rem;
	}
	.text_size_medium {
		font-size: 0.9375rem;
	}
	.text_size_small {
		font-size: 0.8125rem;
	}
	.text_weight_bold {
		font-weight: 700;
	}
	.text_weight_medium {
		font-weight: 500;
	}
	.text_weight_light {
		font-weight: 300;
	}
	.text_color_dark {
		color: #333;
	}
	.text_color_light {
		color: #f4f4f4;
	}
	.text_color_primary {
		color: #0066ff;
	}

	/* Diseño responsive */
	@media screen and (max-width: 48rem) { /* 768px ≈ 48rem */
		.navbar {
			flex-direction: column;
			height: auto;
			padding: 0.625rem;
		}
		.nav_left, .nav_right {
			position: static;
			justify-content: center;
			gap: 0.9375rem;
		}
		.logo_navbar {
			position: static;
			transform: none;
			margin-bottom: 0.625rem;
		}
	}

	/* Elementos */
	.button {
		display: inline-block;
		padding: 10px 20px;
		background-color: #007bff;
		color: white;
		text-align: center;
		border: none;
		border-radius: 25px;
		text-decoration: none;
		cursor: pointer;
	}
</style>